# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa
*.pdf
*.xmind
*.ppt
*.docx
gmpy2-2.1.0a1-cp27-cp27m-win_amd64.whl
gmpy2-2.1.0a1-cp36-cp36m-win_amd64.whl